@charset "utf-8";

/* Structural Styles */
html {
    background: lightskyblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: white;
    min-height: 100%;   
    margin: 0px auto;
    width: 100%;
}

body header img {
    background-image: url(space.jpg);
}
/* Header Styles */
header {
    background: beige;
}
header img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Header Imgs */
header span#education img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
span img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body article {
    background: white;
}
article ul {
    display: block;
    list-style-type: disc;
    float: left;
}
article span h1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Nav Styles */
nav ul{
    list-style-type: none;
    margin: none;
    padding: none;
    overflow: hidden;
    background-color: black;
    
}
nav li {
    float: right;
    width: 15%;
    flex-direction: column-reverse;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
nav li a:hover {
    background-color: rgb(70, 69, 69);
}
/* Article Styles */
article {
    width: 70%;
    margin: 0px auto;
}
article h1 {
    text-decoration: underline;
}
article p#intro {
    font-size: 1.3em;
    width: 90%;
    margin: 0 auto;
}
article h1#edu {
    font-size: 2em;
    background-color: gold;
    display: inline-block;
    margin: 10px auto;
}

article p em a {
    text-decoration: none;
    color: lightblue;
}

/* Table styles */
table#me {
    border: 5px outset maroon;
    border-collapse: collapse;
    font-size: 0.75em;
    width: 100%;
}
table#me td {
    border: 1px solid gold;
    border-left: hidden;
    padding-left: 10px;
}
table#me th {
    padding-right: 10px;
}

table#me tr th span a img {
    width: 200px;
}
table#me tr th#asu span a img {
    width: 200px;
}
table#me tr td {
    font-size: 1.5em;
    line-height: 1.4em;
}
/* Footer Styles */
footer a {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: cyan;
}

footer p {
    width: 50%;
    display: block;
    float: left;
}
/* Skills Images CSS */
body article figure img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
body article h1 {
    text-align: center;
}
body article figure figcaption {
    display: table;
    font-style: italic;
    color: white;
    background: grey;
    font-size: 1.3em;
}
body article figure img#print {
    float: right;
}
body article h2 {
    font-size: 1.4em;
}
body article {
    background: grey;
}
/* Work Experience */
body article#experience {
    background: white;
    color: grey;
}
body article#experience h2 {
    color: black;
}
body article#experience ul {
    margin-left: 50px;
}
/* Mobile Styles */
@media only screen and (max-width: 480px) {
    nav li{
        display: block;
        margin: 0;
        padding: 0;
        float: none;
        width: 100%;
    }
}
